version: '3.8'
services:
  # MongoDB cho Auth Service
  mongo-auth:
    image: mongo:6
    restart: unless-stopped
    container_name: mongo-auth
    ports:
      - "27018:27017"
    volumes:
      - mongo_auth_data:/data/db

  # MongoDB cho Billing Service
  mongo-billing:
    image: mongo:6
    restart: unless-stopped
    container_name: mongo-billing
    ports:
      - "27019:27017"
    volumes:
      - mongo_billing_data:/data/db

  # MongoDB cho Customer Service
  mongo-customer:
    image: mongo:6
    restart: unless-stopped
    container_name: mongo-customer
    ports:
      - "27020:27017"
    volumes:
      - mongo_customer_data:/data/db

  # MongoDB cho Menu Service
  mongo-menu:
    image: mongo:6
    restart: unless-stopped
    container_name: mongo-menu
    ports:
      - "27021:27017"
    volumes:
      - mongo_menu_data:/data/db

  # MongoDB cho Staff Service
  mongo-staff:
    image: mongo:6
    restart: unless-stopped
    container_name: mongo-staff
    ports:
      - "27022:27017"
    volumes:
      - mongo_staff_data:/data/db

  # MongoDB cho Tables Service
  mongo-tables:
    image: mongo:6
    restart: unless-stopped
    container_name: mongo-tables
    ports:
      - "27023:27017"
    volumes:
      - mongo_tables_data:/data/db

  auth-service:
    build: ./auth_service
    container_name: auth_service
    ports:
      - "8001:8000"
    environment:
      - MONGO_URL=mongodb://mongo-auth:27017
      - JWT_SECRET=supersecret
    depends_on:
      - mongo-auth

  billing-service:
    build: ./billing_service
    container_name: billing_service
    ports:
      - "8002:8000"
    environment:
      - MONGO_URL=mongodb://mongo-billing:27017
    depends_on:
      - mongo-billing

  customer-service:
    build: ./customer_service
    container_name: customer_service
    ports:
      - "8003:8000"
    environment:
      - MONGO_URL=mongodb://mongo-customer:27017
    depends_on:
      - mongo-customer

  dashboard-service:
    build: ./dashboard_service
    container_name: dashboard_service
    ports:
      - "8004:8000"
    environment:
      - BILLING_URL=http://billing_service:8000
      - CUSTOMER_URL=http://customer_service:8000
      - MENU_URL=http://menu-service:8000
      - STAFF_URL=http://staff-service:8000
      - TABLE_URL=http://tables-service:8000
      - JWT_SECRET=supersecret
    depends_on:
      - billing-service
      - customer-service
      - menu-service
      - staff-service
      - tables-service

  menu-service:
    build: ./menu_service
    container_name: menu-service
    ports:
      - "8005:8000"
    environment:
      - MONGO_URL=mongodb://mongo-menu:27017
      - JWT_SECRET=supersecret
    depends_on:
      - mongo-menu

  staff-service:
    build: ./staff_service
    container_name: staff-service
    ports:
      - "8006:8000"
    environment:
      - MONGO_URL=mongodb://mongo-staff:27017
      - JWT_SECRET=supersecret
    depends_on:
      - mongo-staff

  tables-service:
    build: ./tables_service
    container_name: tables-service
    ports:
      - "8007:8000"
    environment:
      - MONGO_URL=mongodb://mongo-tables:27017
      - JWT_SECRET=supersecret
    depends_on:
      - mongo-tables

volumes:
  mongo_auth_data:
  mongo_billing_data:
  mongo_customer_data:
  mongo_menu_data:
  mongo_staff_data:
  mongo_tables_data: