version: '3.8'
services:
  user-service:
    build: .
    container_name: user_service
    restart: unless-stopped
    environment:
      - MONGO_URL=mongodb://mongo:27017
      - DB_NAME=auth_service
      - JWT_SECRET=supersecret
    ports:
      - "8002:8002"
    volumes:
      - ./uploads:/app/uploads
      - .:/app
    networks:
      - app-network

networks:
  app-network:
    external: true